.social-networks_button {
  text-decoration: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  display: -ms-flexbox;
  -ms-flex-direction: row;
  -ms-flex-align: center;
  -ms-flex-pack: center;

  font-size: var(--main-font-size);
  column-gap: var(--small-gap-size);
  border-radius: var(--small-radius-size);
  width: 53px;
  height: 50px;
  box-shadow: 2px 2px 5px 2px var(--light-grey);
  filter: brightness(100%);
  -webkit-filter: brightness(100%);
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}

.social-networks_button svg {
  width: 25px;
  filter: var(--svg-white);
}

.social-networks_button:hover {
  filter: brightness(90%);
  -webkit-filter: brightness(90%);
}

.social-networks_button:hover.google-button {
  background: var(--white);
}

.social-netowrks_container {
  display: -ms-flexbox;
  -ms-flex-align: center;
  -ms-flex-direction: row;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  column-gap: var(--small-gap-size);
}

.social-netowrks_container .social-networks_description {
  display: flex;
  display: -ms-flexbox;
  -ms-flex-direction: column;
  flex-direction: column;
  justify-content: space-between;
}

.social-netowrks_container .social-networks_description .social-network_message {
  font-size: var(--small-font-size);
}

.social-netowrks_container .social-networks_description .social-network_name {
  font-size: var(--main-font-size);
}

